/*css for background of url*/
body {
    padding-top: 80px;
    font-family: 'Roboto', 'Oslwald', sans-serif;
}

/*custom css for navbar*/
.nav ul li{
    height: 60px;
    font-family: 'Roboto';
    font-size: 25px;
    padding: 5px 5px;
}
/*css for logo image on nav-bar*/
.logo{
    padding-bottom: 5px;
}

/*custom css for navbar when cursor hovers*/
.nav ul li:hover{
    background-color: #717171;
}

/*css for navbar when collapsed*/
.collapse li{
    text-align: center;
}

/*main content css*/
#main{
    height: 1200px;
}

/*css for footer*/
footer {
    margin-top: 20px;
    padding-top: 20px;
    background: rgba(172, 172, 172, 0.88);
    height: 180px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*fieldset css for mailing form*/
#mail{
    border-radius: 20px;
    background-color: rgba(1, 1, 162, 0.7);
    padding: 10px;
    text-align: center;
}
/*mailing form css*/
.mail{
    background-color: rgb(230, 64, 64);
    font-size: 15px;
    color: white;
    transform: rotate(-10deg);
    padding: 5px;
    border-radius: 20px;
}
/*snapcount logo image css inside footer div*/
#scLogo{
    margin-top: 10px;
}

/*social div css for social information*/
.social{
    text-align: center;
    font-size: 10px;
}

/*css for page header title on home page*/
.page-header {
        color: rgb(167, 167, 167);
        text-align: center;
}

/*css for paragraphs in team page*/
.card{
    background-color: burlywood;
    border-radius: 10px;
}

/**/
.sportFig{
    color: #f7f8f7;
}

/**/
input:focus{
    background-color: #8fe860;
}


/*css for news articles*/
.newsCard a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}
.newsCard a:hover{
    color: chartreuse; 
}

.newsCard p{
    background-color: brown;
    border-radius: 10px;
    margin: 5px;
}

/*css for video article*/
.video{
    margin-bottom: 200px;
}

/*team page css*/
.team{
    margin-bottom: 300px;
}

/*contact page css*/
.registration{
    text-align: center;
}
/*css for mediaButtons*/
.mediaButton{
    margin: 10px;
}

/*css for media titles when cursor hovers*/
.highlight:hover{
    color: rgb(205, 98, 50);
}

button:hover{
    cursor: pointer;
}
 
/*Animations*/

/*Animation for ng-view on all pages*/
#main.ng-enter{
    transition: 0.3s linear all;
    opacity: 0;
}
#main.ng-enter ng-enter-active{
    opacity: 1;
}


/* Large desktops and laptops */

@media (min-width: 1200px) {
    /*css specific properties col-lg-**/
    #scLogo{
        text-align: center;
        margin-top: 10px;
    }
}


/* Landscape tablets and medium desktops */

@media (min-width: 992px) and (max-width: 1199px) {
    /*css specific properties col-md-**/
    .newsCard{
        text-align: center;
    }
    .podcast .sportCard{
        display: block;
        margin: auto;
        text-align: center;
    }

}


/* Portrait tablets and small desktops */

@media (min-width: 768px) and (max-width: 991px) {
    /*css specific properties col-sm-**/
   .newsCard{
        text-align: center;
    }
    .podcast .sportCard{
        display: block;
        margin: auto;
        text-align: center;
    }
}


/* Landscape phones and portrait tablets */

@media (max-width: 767px) {
    /*css specific properties col-xs-**/
     .newsCard{
        text-align: center;
    }
    .podcast .sportCard{
        display: block;
        margin: auto;
        text-align: center;
    }
}


/* Portrait phones and smaller */

@media (max-width: 480px) {
    /*css specific properties col-xs-* or none for default*/
    .newsCard{
        text-align: center;
    }
    .podcast .sportCard{
        display: block;
        margin: auto;
        text-align: center;
    }
}

