<div class="page-header col-12">
    <h1>{{media}}</h1> </div>
<div class="container">
    <div class="row podcasts" ng-controller="myPod">
        <button onmouseover="podOver(this)" onmouseout="podOut(this)" type="button" ng-click="myFunc()" class="mediaButton btn btn-primary btn-lg">Podcasts</button>
        <br>
        <div class="col-md-4 col-sm-12 col-xs-12 media-show-hide" id="latest" ng-show="showMe">
            <figure class="sportCard"> <img src="/stream-one-project/images/SC%20Pod%20Image.jpg" alt="Pod Image" height="240px" width="300px">
                <audio src="/stream-one-project/audio/thesnapcount-podcast1.mp3" controls></audio>
                <figcaption class="sportFig"><strong>Pod updated 07/09/2017: The team discuss preseason</strong></figcaption>
            </figure>
            <p class="card">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi sapiente tenetur nobis laborum, cumque at aliquid vero quis minima quos, reiciendis. Molestiae obcaecati, corporis ab quasi atque fugit eaque doloremque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi illum placeat quod minima incidunt repellendus sequi nostrum, iste aliquid laboriosam doloribus ipsum in commodi consequatur accusamus veniam fugit perferendis modi.</p>
        </div>
    </div>
    <div class="row images" ng-controller="myImg">
        <button type="button" onmouseover="imgOver(this)" onmouseout="imgOut(this)" ng-click="myFunc()" class="mediaButton btn btn-primary btn-lg">Images</button>
        <br>
        <div class="row media-show-hide" ng-show="showMe">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="/stream-one-project/images/nfl-chiefs-broncos.jpg" target="_blank"> <img src="/stream-one-project/images/nfl-chiefs-broncos.jpg" alt="sport" style="width:100%">
                        <div class="caption">
                            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="/stream-one-project/images/nfl-jets-pat.jpg" target="_blank"> <img src="/stream-one-project/images/nfl-jets-pat.jpg" alt="sports" style="width:100%">
                        <div class="caption">
                            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="/stream-one-project/images/stafford-contract.jpg" target="_blank"> <img src="/stream-one-project/images/stafford-contract.jpg" alt="sports" style="width:100%">
                        <div class="caption">
                            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row video" ng-controller="myVid">
        <button type="button" onmouseover="vidOver(this)" onmouseout="vidOut(this)" ng-click="myFunc()" class="mediaButton btn btn-primary btn-lg">Videos</button>
        <br>
        <div class="media-show-hide embed-responsive embed-responsive-4by3" ng-show="showMe">
            <video src="/stream-one-project/video/nfl-top-throws-2017.mp4" controls poster="/stream-one-project/images/nfl-seahawks.jpg"></video>
            <p class="card">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis accusantium fugiat qui sint impedit maxime nihil aut odio eius suscipit itaque et totam accusamus id perspiciatis deserunt, ex ad nesciunt!</p>
        </div>
    </div>
</div>