<div class="page-header col-12">
    <h1>
        {{news}}
    </h1> </div>
<div class="jumbotron">
    <div class="container">
        <h1 class="highlight">SnapCount Updates</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum nemo dolores aspernatur ipsam tenetur dolore. Ratione quisquam, cupiditate saepe eos sapiente a dignissimos illum ipsam architecto maiores porro, quos iusto. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit earum, maxime dolorem quod praesentium error voluptas aliquid eveniet, iure voluptatibus id dolores sunt vel, vero. Ipsam et ullam ea esse! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti nihil inventore eaque quasi quos quas perspiciatis, adipisci, modi repudiandae earum repellat repellendus fugiat? Quas minima placeat recusandae officiis saepe. Atque.</p>
    </div>
</div>
<div class="container">
    <div class="row" id="news">
        <div class="newsCard col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <a href="" ng-click="aug17=!aug17"><h2>August 2017</h2></a>
            <p ng-show="aug17" class="card news-show-hide">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam temporibus illum et, optio itaque, fugiat perspiciatis quis sunt vitae, magni voluptas illo voluptatibus vel, assumenda provident ut suscipit ipsam obcaecati? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas nam necessitatibus delectus! Eius maiores sit id corrupti, repudiandae inventore veniam velit odio nostrum obcaecati magni provident, beatae ea quo neque.</p>
        </div>
        <div class="newsCard col-lg-3 col-md-3 col-sm-12 col-xs-12 news-show-hide">
            <a href="" ng-click="sept17=!sept17"><h2>September 2017</h2></a>
            <p ng-show="sept17" class="card news-show-hide">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid laboriosam dolorem doloribus, tenetur dolore nisi odit ducimus a, error accusantium veritatis ipsam tempore consequatur, expedita voluptatem ullam temporibus consequuntur quod! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat eaque accusamus officiis, ipsum aliquam incidunt id iusto iste praesentium dolorum impedit velit quibusdam error animi veniam, consequuntur enim atque dolores.</p>
        </div>
        <div class="newsCard col-lg-3 col-md-3 col-sm-12 col-xs-12 news-show-hide">
            <a href="" ng-click="oct17=!oct17"><h2>October 2017</h2></a>
            <p ng-show="oct17" class="card news-show-hide">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium recusandae consectetur cupiditate eaque. Repellat ipsum suscipit tempora quo, est aperiam expedita architecto? Labore assumenda, esse dolore excepturi recusandae. A, officia.</p>
            <p ng-show="oct17" class="card news-show-hide">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur tempora amet eum! Id, molestias, repudiandae. Consequatur ducimus reiciendis aspernatur sit accusantium sapiente adipisci doloremque odit, harum, eius fuga quia nulla.</p>
        </div>
        <div class="newsCard col-lg-3 col-md-3 col-sm-12 col-xs-12 news-show-hide">
            <a href="" ng-click="nov17=!nov17"><h2>November 2017</h2></a>
            <p ng-show="nov17" class="card news-show-hide">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, excepturi veniam optio! Facilis earum totam, laborum quos rem dolorem beatae alias quo pariatur deserunt voluptatibus, dolor voluptatem ex illo omnis!</p>
        </div>
    </div>
</div>
