<div class="jumbotron">
    <div class="container">
        <h1>SnapCount Lastest News Updates</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum nemo dolores aspernatur ipsam tenetur dolore. Ratione quisquam, cupiditate saepe eos sapiente a dignissimos illum ipsam architecto maiores porro, quos iusto. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit earum, maxime dolorem quod praesentium error voluptas aliquid eveniet, iure voluptatibus id dolores sunt vel, vero. Ipsam et ullam ea esse! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti nihil inventore eaque quasi quos quas perspiciatis, adipisci, modi repudiandae earum repellat repellendus fugiat? Quas minima placeat recusandae officiis saepe. Atque.</p>
    </div>
</div>

