<div class="page-header col-12">
    <h1>
        {{news}}
    </h1> 
</div>

<div class="jumbotron">
    <div class="container">
        <h1 class="highlight">SnapCount Updates</h1>
        <p>The SnapCount team have been promoting the podcast series over the last 4 years. The team will be available for interviews or just a simple chat over a cuppa about football. Please note the guys will be at the next London NFL game at Wembley stadium. Keep an eye out on social media at where the team will be based before and after the game. <b>See you at the grid iron</b></p>
    </div>
</div>
<div class="container">
    <div class="row" id="news">
        <div class="newsCard col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <a href="" ng-click="aug17=!aug17"><h2>August 2017</h2></a>
            <p ng-show="aug17" class="card news-show-hide">The SnapCount team have been releasing plenty of photos of the last London game. Lorenzo said <i>This was the first game of the UK series and it was a belter, can't wait to watch the next game in a few weeks</i></p>
        </div>
        <div class="newsCard col-lg-3 col-md-3 col-sm-12 col-xs-12 news-show-hide">
            <a href="" ng-click="sept17=!sept17"><h2>September 2017</h2></a>
            <p ng-show="sept17" class="card news-show-hide">The team took this month off for some down time but will back live and kicking next month. Keep an eye out for this months podcast.</p>
        </div>
        <div class="newsCard col-lg-3 col-md-3 col-sm-12 col-xs-12 news-show-hide">
            <a href="" ng-click="oct17=!oct17"><h2>October 2017</h2></a>
            <p ng-show="oct17" class="card news-show-hide">The team have been discussing at length about new features the team could talk about, well the timehas come to talk fantasy in 2017. The team will be chatting about the NFL fantasy draft and who to pick from round 1 - 15.</p>
            <p ng-show="oct17" class="card news-show-hide">Watch out for the newest podcast with new segments!! Its going to get crazy.</p>
        </div>
        <div class="newsCard col-lg-3 col-md-3 col-sm-12 col-xs-12 news-show-hide">
            <a href="" ng-click="nov17=!nov17"><h2>November 2017</h2></a>
            <p ng-show="nov17" class="card news-show-hide">In this months episode, the team have discussed news regarding recent events including the NFL releasing a statement about players and staff kneeling during the national anthem. The NFL chief said he was <i>"not looking to get into politics"</i> and wished instead to keep the focus on football.</p>
        </div>
    </div>
</div>
