<div class="page-header col-12">
    <h1>{{team}}</h1> </div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect"> <img class="img-responsive" src="stream-one-project/images/images.jpeg" alt="Matt" style="width: 100%">
        <div class="overlay">
            <h2>Matt</h2>
            <p class="icon-links">
                <a href="#"> <span class="fa fa-twitter"></span> </a>
                <a href="#"> <span class="fa fa-facebook"></span> </a>
                <a href="#"> <span class="fa fa-instagram"></span> </a>
            </p>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect"> <img class="img-responsive"src="stream-one-project/images/images-2.jpeg" alt="Sam" style="width: 100%">
        <div class="overlay">
           <h2>Sam</h2>
           <p class="icon-links">
               <a href="#"> <span class="fa fa-twitter"> </span> </a>
               <a href="#"> <span class="fa fa-facebook"> </span> </a>
               <a href="#"> <span class="fa fa-instagram"> </span> </a>
           </p>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect"> <img class="img-responsive"src="stream-one-project/images/images-3.jpeg" alt="Joey" style="width: 100%">
        <div class="overlay">
           <h2>Joey</h2>
           <p class="icon-links">
               <a href="#"> <span class="fa fa-twitter"> </span> </a>
               <a href="#"> <span class="fa fa-facebook"> </span> </a>
               <a href="#"> <span class="fa fa-instagram"> </span> </a>
           </p>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect"> <img class="img-responsive"src="stream-one-project/images/images-4.jpeg" alt="Lorenzo" style="width: 100%">
        <div class="overlay">
           <h2>Lorenzo</h2>
           <p class="icon-links">
               <a href="#"> <span class="fa fa-twitter"> </span> </a>
               <a href="#"> <span class="fa fa-facebook"> </span> </a>
               <a href="#"> <span class="fa fa-instagram"> </span> </a>
           </p>
        </div>
    </div>
</div>