<div class="container team">
   <h2 class="name">The SnapCount Team</h2>
    <div class="row">
        <div class="col-sm-3 col-sm-12 col-xs-12">
            <figure class="sportCard">
                <img src="/images/images.jpeg" alt="person" width="320" height="240">
            </figure>
            <figcaption class="sportFig"><strong>Sam: Life long NFL fan and Giants fan.</strong></figcaption>
        </div>
        <div class="col-sm-3 col-sm-12 col-xs-12">
            <figure class="sportCard">
                <img src="/images/images-2.jpeg" alt="person" width="320" height="240">
            </figure>
            <figcaption class="sportFig"><strong>Paxton: New to Snapcount team and New York Jets fan.</strong></figcaption>
        </div>
        <div class="col-sm-3 col-sm-12 col-xs-12">
            <figure class="sportCard">
                <img src="/images/images-3.jpeg" alt="person" width="320" height="240">
            </figure>
            <figcaption class="sportFig"><strong>Joey: Has been with the team since the beginning, a Dallas cowboys fan.</strong></figcaption>
        </div>
        <div class="col-sm-3 col-sm-12 col-xs-12">
            <figure class="sportCard">
                <img src="/images/images-4.jpeg" alt="person" width="320" height="240">
            </figure>
            <figcaption class="sportFig"><strong>Lorenzo: A life long friend of Joey and a New England Patriots fan.</strong></figcaption>
        </div>
    </div>
</div>